<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cart</title>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class ="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="/">Home</a></li>
            <li><a href="/admin-login/">Admin-Login</a></li>
        </ul>
        <ul class ="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="/cart/">Cart: <b>({{ cart_size }}) Items </b></a></li>
            <li><a href="/cart/checkout/">Checkout</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class="page-header", style="text-align: center">

        <h2>StoreName</h2>

    </div>
    <style type="text/css">
        .centerdv{
            width: 45%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            }

    </style>
    <h3 style="text-align: center">Orders</h3>
    <div class="container centerdv">
        {% for order in orders %}
        <div class="well">
            <b> Name:</b>
            <br>
            {{ order.first_name }}
            {{ order.last_name }}
            <br>
            <b>Address:</b>
            {{ order.address }}
            {{ order.city }}
            <br>
            <b>Payment Information</b>
            {{ order.payment_method }}
            {{ order.payment_data }}
            <br>
            <b>Order Items:</b>
            <br>
            {{ order.Items }}
            <br>
            <b>Order Fulfilled?</b>
            {{ order.fullfilled }}
        </div>
        {% endfor %}
    </div>
